<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">

  <input class="form-control" formControlName="name">

  <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)"
    class="alert alert-danger">

    <div *ngIf="nameControl.errors.required">
      Name is required.
    </div>
    <div *ngIf="nameControl.errors.minlength">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="nameControl.errors.forbiddenName">
      Name cannot be Bob.
    </div>
  </div>

  <p></p>
  <input class="form-control" formControlName="alterEgo" required>

  <div *ngIf="heroForm.errors?.identityRevealed && (heroForm.touched || heroForm.dirty)"
    class="cross-validation-error-message alert alert-danger">
    Name cannot match alter ego.
  </div>

  <button type="submit" [disabled]="!heroForm.valid">Submit</button>

</form>

<p>
  Form Status: {{ heroForm.status }}
</p>
<p>
  Value: {{ heroForm.value | json }}
</p>
<p>
  Form group errors: {{ heroForm.errors | json }}
</p>
